## Importing Required Packages

In [1]:
import os
import numpy as np
import cv2
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

## Setting up data extractor

In [2]:
def get_files(path):
    file_list = []
    for path, directories, files in os.walk(path):
        file_list = files
        return file_list

## Extracting COVID-19 data, normalizing & then adding to dataframe

In [3]:
c_path = "./COVID19_Lung_CT/CT_COVID"
c_files = get_files(c_path)
c_data = []


for img in c_files:
    img_raw = cv2.imread(f'{c_path}/{img}',0)
    try:
        img_norm = cv2.resize(img_raw,(20,20))
        img_flat = np.array(img_norm).flatten()
        c_data.append([img_flat,1])
    except AssertionError: # Using try except clause makes sure we don't have any images which would not resize properly
        pass
        
print(len(c_data))

349

In [4]:
#pd.set_option("max_rows", None)
df = pd.DataFrame(c_data, columns = ['img_data', 'label'])
df

                                              img_data  label
0    [255, 255, 255, 255, 255, 255, 255, 255, 255, ...      1
1    [7, 8, 9, 7, 8, 8, 8, 8, 9, 8, 9, 8, 7, 6, 8, ...      1
2    [251, 245, 74, 87, 86, 77, 76, 63, 82, 67, 120...      1
3    [24, 69, 63, 64, 67, 111, 101, 83, 95, 99, 101...      1
4    [0, 0, 0, 0, 62, 35, 189, 195, 186, 33, 130, 1...      1
..                                                 ...    ...
344  [52, 51, 51, 53, 52, 61, 76, 104, 55, 66, 54, ...      1
345  [0, 45, 41, 46, 45, 41, 43, 46, 43, 45, 42, 44...      1
346  [77, 77, 80, 78, 74, 248, 225, 251, 254, 228, ...      1
347  [242, 255, 255, 242, 237, 253, 255, 255, 255, ...      1
348  [42, 236, 181, 207, 187, 44, 197, 215, 197, 20...      1

[349 rows x 2 columns]

## Extracting Non COVID-19 data, normalizing & then adding to dataframe

In [5]:
nc_path = "./COVID19_Lung_CT/CT_NonCOVID"
nc_files = get_files(nc_path)
nc_data = []

for img in nc_files:
    img_raw = cv2.imread(f'{nc_path}/{img}',0)
    try:
        img_norm = cv2.resize(img_raw,(20,20))
        img_flat = np.array(img_norm).flatten()
        nc_data.append([img_flat,0])
    except AssertionError:
        pass
    
print(len(nc_data))

397

In [6]:
df2 = pd.DataFrame(nc_data, columns = ['img_data', 'label'])
df2

                                              img_data  label
0    [70, 63, 67, 66, 195, 187, 190, 182, 182, 127,...      0
1    [0, 0, 60, 71, 61, 63, 83, 60, 85, 94, 76, 247...      0
2    [19, 19, 19, 19, 19, 19, 19, 20, 21, 18, 21, 1...      0
3    [1, 0, 0, 1, 220, 213, 215, 213, 215, 214, 207...      0
4    [0, 0, 45, 43, 45, 44, 47, 53, 45, 50, 51, 48,...      0
..                                                 ...    ...
392  [1, 1, 15, 44, 44, 44, 43, 44, 44, 45, 44, 44,...      0
393  [89, 234, 225, 232, 247, 243, 236, 244, 249, 2...      0
394  [210, 241, 235, 215, 240, 224, 165, 247, 231, ...      0
395  [42, 42, 42, 42, 42, 42, 42, 43, 44, 68, 45, 5...      0
396  [27, 29, 27, 26, 24, 26, 21, 19, 23, 23, 25, 2...      0

[397 rows x 2 columns]

### Merging data frames

In [7]:
img_master = df.append(df2, ignore_index=True)
img_master

                                              img_data  label
0    [255, 255, 255, 255, 255, 255, 255, 255, 255, ...      1
1    [7, 8, 9, 7, 8, 8, 8, 8, 9, 8, 9, 8, 7, 6, 8, ...      1
2    [251, 245, 74, 87, 86, 77, 76, 63, 82, 67, 120...      1
3    [24, 69, 63, 64, 67, 111, 101, 83, 95, 99, 101...      1
4    [0, 0, 0, 0, 62, 35, 189, 195, 186, 33, 130, 1...      1
..                                                 ...    ...
741  [1, 1, 15, 44, 44, 44, 43, 44, 44, 45, 44, 44,...      0
742  [89, 234, 225, 232, 247, 243, 236, 244, 249, 2...      0
743  [210, 241, 235, 215, 240, 224, 165, 247, 231, ...      0
744  [42, 42, 42, 42, 42, 42, 42, 43, 44, 68, 45, 5...      0
745  [27, 29, 27, 26, 24, 26, 21, 19, 23, 23, 25, 2...      0

[746 rows x 2 columns]

In [8]:
img_final = img_master.sample(frac=1).reset_index(drop=True) #Shuffling dataframe and resetting index values
img_final

                                              img_data  label
0    [45, 44, 45, 48, 51, 106, 222, 242, 251, 229, ...      0
1    [20, 23, 26, 21, 179, 166, 188, 196, 198, 186,...      0
2    [1, 1, 64, 59, 73, 210, 212, 212, 213, 202, 17...      1
3    [253, 255, 255, 254, 254, 255, 253, 255, 255, ...      0
4    [255, 246, 246, 246, 246, 246, 246, 246, 246, ...      1
..                                                 ...    ...
741  [0, 0, 17, 15, 164, 152, 181, 186, 183, 156, 1...      0
742  [34, 141, 177, 173, 179, 216, 195, 196, 182, 1...      0
743  [242, 255, 255, 242, 237, 253, 255, 255, 255, ...      1
744  [9, 9, 9, 9, 9, 8, 29, 27, 27, 27, 28, 28, 28,...      1
745  [40, 50, 47, 70, 188, 196, 195, 203, 202, 201,...      0

[746 rows x 2 columns]

In [9]:
img_final.columns

Index(['img_data', 'label'], dtype='object')

### Training & Testing Split

In [10]:
y_df = img_final[['label']]
X_df = img_final[['img_data']]

In [11]:
X = np.asarray(X_df)
y = np.asarray(y_df)
y = y.flatten()

In [3]:
X_final = []
for i in X:
    for g in i:
        X_final.append(g)

NameError: name 'X' is not defined

In [13]:
X_f = np.array(X_final)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
     X_f, y, random_state=600)

print(f'X_train.shape = {X_train.shape}')
print(f'X_test.shape  = {X_test.shape}')
print(f'y_train.shape = {y_train.shape}')
print(f'y_test.shape  = {y_test.shape}')

X_train.shape = (559, 400)
X_test.shape  = (187, 400)
y_train.shape = (559,)
y_test.shape  = (187,)

### Implementing SVM Model

In [15]:
sv = SVC(C=1,kernel='poly',gamma = 'auto')

In [16]:
sv.fit(X_train, y_train)

SVC(C=1, gamma='auto', kernel='poly')

In [17]:
predict = sv.predict(X_test)

In [21]:
print(f'Model accuracy is {accuracy_score(y_test, predict)*100:.2f}%')

Model accuracy is 75.40%

In [19]:
predict

array([0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0])

In [20]:
y_test

array([1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0])